.castList {
  margin-top: 35px;
  margin-bottom: 35px;
  color: white;
}

.castImg {
  width: 70px;
  margin-bottom: 5px;
}

.castList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.castListItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.infoOfActor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
